<template>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="filters-form container">
                    <h1>FILTERS</h1>
                    <hr style="color: #ddd;">

                    <br>
                    <div v-for="field in fields" class="form-group field">
                        <label>{{field.title}}</label>
                        <input class="form-control" type="text" v-if="field.type == 'text'">
                        <div class=" dropmenu" v-if="field.type == 'dropdown'">
                             <select class="form-control">
                                 <option v-for="country in countries" :value="country.Name">{{country.Name}}</option>
                            </select>
                        </div>
                       
                        <input class="form-control" type="date" v-if="field.type == 'date'">
                    </div>

                    <br>
                    <div class="form-group">
                        <div class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
  <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
</svg> Filter</div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                 <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="myTable">
        <hero v-for="hero in heros" v-bind:hero="hero" v-bind:key="hero.id"></hero>
    </tbody>
  </table>
            </div>
        </div>
          
          
          
    
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                heros:[],
                fields:[],
                countries:[]
            }
          },
                   methods: {

        getConfig(){    
             axios
      .get('http://localhost:8000/api/config')
      .then(response => (this.fields = response.data));

    axios
      .get('http://localhost:8000/api/countries')
      .then(response => (this.countries = response.data.Response));

        }


    }
          ,
        mounted() {

            this.getConfig();

              axios
      .get('http://localhost:8000/api/heros')
      .then(response => (this.heros = response.data));

        }



    }
</script>
