<template>
  <tr>
      <td>{{hero.name}}</td>
      <td>{{hero.mobile}}</td>
      <td>TBA</td>
  </tr>
</template>

<script>
    export default {
     props: ['hero'],
        mounted() {
            console.log(this.hero);
        }, 
  methods: {
    greet: function (event) {
     // testing
    }
  }
    }
</script>
